[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=escape-super
Comment=
Exec=xcape -e 'Super_L=Super_L|space'
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

